body {
    background-color: gray;
    justify-items: center;
    align-content: center;
    height: 100vh;
}

.form-section {
    display: flex;
    gap: 8px;
}
.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}